
body {
  background-color: #F6F7FB;
  /* Change to Brown font from local file */
  font-family: 'Brown Regular', sans-serif;
  color: #474747; /* text color */
}

h2 {
  color: #009b74;
}

h3 {
  color: #009b74;
}

/* Make text visible on inputs */
.shiny-input-container {
  color: #474747;
}

.main_col_class {
  background-color: #FFFFFF;
  margin: -15px 0px -45px 0px;
  padding: 20px 50px 20px 50px;
  border: 1px solid #ededed;
  /* Make box shadow effect */
  -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
}


.navbar-default {
    background-color: #FFFFFF !important;
    border-color: #e7e7e7;
    padding-left: 100px;
}
